  .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .slide {
    background-color: #333;
    margin: 40px;
    width: 90vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .introduction {
    background-color: #333;
    margin: 40px;
    padding: 40px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    padding-left: 40px;
    padding-right: 40px;
  }

  .slideBody {
    padding: 40px;
  }

  .main {}