.donateContainer {
  margin-bottom: 20vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  text-align: center;
}

.backgroundColour {
  background-color: #333;
}

.donateButton {
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: #fff;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
  }

  &:hover:before {
    left: 95%;
  }
}